name: Packing
permissions:
  contents: read
  packages: write
  id-token: write
on:
  push:
    paths: [ 'NeoBundle/**', '**/Publish.yml' ]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/cache@main
        with:
          path: ~/.nuget/packages
          key: nuget-cache
      - uses: NuGet/login@v1
        id: login
        with:
           user: Qusay
      - run: |
          dotnet pack NeoBundle/NeoBundle.csproj
          dotnet nuget push **/NeoBundle.*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{steps.login.outputs.NUGET_API_KEY}} --skip-duplicate
          dotnet nuget push **/NeoBundle.*.nupkg --source https://nuget.pkg.github.com/Qianyiaz/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
